@font-url: '..';
//@font-url: 'https://...';

.font(@f-name, @f-style, @f-weight, @f-url, @f-format) {

  @font-face {
    font-family: @f-name;
    font-style: @f-style;
    font-weight: @f-weight;
    src: url(@f-url) format(@f-format);
  }
}

.font('GothamPro-300', Light, 300, '@{font-url}/fonts/GothamPro/GothamPro-Light.eot', 'eot');
.font('GothamPro-300', Light, 300, '@{font-url}/fonts/GothamPro/GothamPro-Light.ttf', 'ttf');
.font('GothamPro-300', Light, 300, '@{font-url}/fonts/GothamPro/GothamPro-Light.woff', 'woff');
.font('GothamPro-300', Light, 300, '@{font-url}/fonts/GothamPro/GothamPro-Light.woff2', 'woff2');

.font('GothamPro-400', Normal, 400, '@{font-url}/fonts/GothamPro/GothamPro-Regular.eot', 'eot');
.font('GothamPro-400', Normal, 400, '@{font-url}/fonts/GothamPro/GothamPro-Regular.ttf', 'ttf');
.font('GothamPro-400', Normal, 400, '@{font-url}/fonts/GothamPro/GothamPro-Regular.woff', 'woff');
.font('GothamPro-400', Normal, 400, '@{font-url}/fonts/GothamPro/GothamPro-Regular.woff2', 'woff2');

.font('GothamPro-500', Medium, 500, '@{font-url}/fonts/GothamPro/GothamPro-Medium.eot', 'eot');
.font('GothamPro-500', Medium, 500, '@{font-url}/fonts/GothamPro/GothamPro-Medium.ttf', 'ttf');
.font('GothamPro-500', Medium, 500, '@{font-url}/fonts/GothamPro/GothamPro-Medium.woff', 'woff');
.font('GothamPro-500', Medium, 500, '@{font-url}/fonts/GothamPro/GothamPro-Medium.woff2', 'woff2');

.font('GothamPro-700', Bold, 700, '@{font-url}/fonts/GothamPro/GothamPro-Bold.eot', 'eot');
.font('GothamPro-700', Bold, 700, '@{font-url}/fonts/GothamPro/GothamPro-Bold.ttf', 'ttf');
.font('GothamPro-700', Bold, 700, '@{font-url}/fonts/GothamPro/GothamPro-Bold.woff', 'woff');
.font('GothamPro-700', Bold, 700, '@{font-url}/fonts/GothamPro/GothamPro-Bold.woff2', 'woff2');

.font('GothamPro-900', Black, 900, '@{font-url}/fonts/GothamPro/GothamPro-Black.eot', 'eot');
.font('GothamPro-900', Black, 900, '@{font-url}/fonts/GothamPro/GothamPro-Black.ttf', 'ttf');
.font('GothamPro-900', Black, 900, '@{font-url}/fonts/GothamPro/GothamPro-Black.woff', 'woff');
.font('GothamPro-900', Black, 900, '@{font-url}/fonts/GothamPro/GothamPro-Black.woff2', 'woff2');


//Fonts
@font-300: 'GothamPro-300', sans-serif;
@font-400: 'GothamPro-400', sans-serif;
@font-500: 'GothamPro-500', sans-serif;
@font-700: 'GothamPro-700', sans-serif;
@font-900: 'GothamPro-900', sans-serif;

/* hint
100 - Thin (Hairline)
200 - Extra Light (Ultra Light)
300 - Light (Book)
400 - Normal (Regular)
500 - Medium
600 - Semi Bold (Demi Bold)
700 - Bold
800 - Extra Bold (Ultra Bold)
900 - Black (Heavy)
*/
